.form {
  margin-top: 20px;
  max-width: 600px;
  margin: auto;
}

.form h4 {
  font-size: 22px;
  color: #555;
  margin-top: 5px;
}
.inputName {
  font-size: 22px;
}

label {
  display: block;
  margin-top: 10px;
}
input {
  padding: 12px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
}
.inputGoodWeather {
  font-size: 22px;
}
.input-checkbox {
  height: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #45a049;
}
