* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.weather-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.weather-container h1 {
  font-size: 24px;
  color: #333;
}

.bad-weather {
  cursor: url(`../public/rain_cursor.svg`), auto;
}
.good-weather {
  cursor: url(`../public/sun_cursor.svg`), auto;
}
